{% load static %}
<div class="sidebar">
    <div class="sidebar-text d-flex flex-column justify-content-center text-center">
        <div>
            <h3 class="font-weight-bold mt-5 mr-3">Mövzular</h3>
            <hr>
            <div>
                <a href="{% url 'post-list-page' %}" class="btn btn-sm btn-outline-primary mb-1">Hamısı ({{ all_posts_count }})</a>
                {% for tag in tags %}
                    <a href="{% url 'post-list-page' %}?tag={{ tag.name }}" class="btn btn-sm btn-outline-primary mb-1">{{ tag.name }} ({{ tag.post_set.count }})</a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>