{% extends 'partials/base.html'%}
{% load static %}

{% block content %}  

{% if about %}
    <!-- About Start -->
    <div class="container bg-white pt-5">
        <div class="row px-3 pb-5">
            <div class="col-md-12">
                <h2 class="mb-4 font-weight-bold">{{ about.title }}</h2>
                <p class="m-0">
                    {{ about.content|safe }}
                </p>
            </div>
        </div>
    </div>
    <!-- About End -->
{% endif %}

{% endblock %}

{% block js %}
    <!-- Back to Top -->
    <a href="#" class="back-to-top"><i class="fa fa-angle-double-up"></i></a>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="mail/jqBootstrapValidation.min.js"></script>
    <script src="mail/contact.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
{% endblock %}
