{% extends 'partials/base.html'%}
{% load static %}
{% block content %}  
    <!-- Carousel Start -->
    <div class="container p-0 col-8">
        <div id="blog-carousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                {% for tutorial in tutorials %}
                    {% if tutorial.is_active %}
                        <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %}">
                            <img class="w-100" src="{% if tutorial.photo %}{{ tutorial.photo.url }}{% endif %}" alt="Image" height="500">
                            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                                <h2 class="mb-3 text-white font-weight-bold">{{ tutorial.name }}</h2>
                                <div class="d-flex text-white">
                                    <small class="mr-2"><i class="fa fa-calendar-alt"></i> {{ tutorial.created_at.date }}</small>
                                </div>
                                <a href="{% url 'tutorial-detail-page' slug=tutorial.slug %}" class="btn btn-lg btn-outline-light mt-4">Daha ətraflı</a>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <a class="carousel-control-prev" href="#blog-carousel" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#blog-carousel" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
    </div>
    <!-- Carousel End -->

    <!-- Blog List Start -->
    <div class="container bg-white pt-5 col-8">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message|safe }}
                </div>
            {% endfor %}
        {% endif %}
        
        <!-- Search input -->
        <form method="get" action="{% url "post-list-page" %}">
            <div class='d-flex justify-content-center'>
                <input class="form-control mb-5 ml-5 mr-5" placeholder="Axtarmaq istədiyiniz məqaləni və ya dərsi yazın..." name="q"/>
            </div>
        </form>

        {% for post in posts %}
            <div class="row blog-item px-3 pb-5">
                <div class="col-md-5">
                    <img class="mb-4 mb-md-0" src="{% if post.image %}{{ post.image.url }}{% endif %}" height="230px" width="400px" alt="Image">
                </div>
                <div class="col-md-7">
                    <h3 class="mt-md-4 px-md-3 mb-2 py-2 bg-white font-weight-bold">{{ post.title }}</h3>
                    <div class="d-flex mb-3">
                        <small class="mr-2 text-muted"><i class="fa fa-calendar-alt"></i> {{ post.created_at.date }}</small>
                        <small class="mr-2 text-muted"><i class="fa fa-folder"></i> {% for tag in post.tags.all %}{% if not forloop.last %} <a href="{% url 'post-list-page' %}?tag={{ tag.name }}"> {{ tag.name }}</a>,{% else %} <a href="{% url 'post-list-page' %}?tag={{ tag.name }}"> {{ tag.name }}</a>{% endif %}{% endfor %}</small>
                        <small class="mr-2 text-muted"><i class="fa fa-eye"></i> {{ post.views.count }} görülmə </small>
                    </div>
                    <p>
                        {{ post.content|safe|truncatewords:20 }}
                        <a class="btn btn-link p-0" href="{% url 'post-detail-page' slug=post.slug %}">Daha ətraflı <i class="fa fa-angle-right"></i></a>
                    </p>

                </div>
            </div>
            {% if not forloop.last %}<hr>{% endif %}
            {% if forloop.counter == 6 %}
                <div class="d-flex justify-content-center">
                    <a class="btn btn-lg btn-outline-primary mb-5" href="{% url 'post-list-page' %}">Bütün məqalələr <i class="fa fa-angle-right"></i></a>
                </div>
            {% endif %}
        {% empty %}
            <div class="row blog-item px-3 pb-5">
                <div class="col-md-5">
                    <h3>Post yoxdur...</h3>
                </div>
            </div>
        {% endfor %}
    </div>
    <!-- Blog List End -->

{% endblock %}

{% block js %}
        <!-- Back to Top -->
        <a href="#" class="back-to-top"><i class="fa fa-angle-double-up"></i></a>
        
        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <script src="{% static 'lib/easing/easing.min.js' %}"></script>
        <script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>

        <!-- Contact Javascript File -->
        <script src="{% static 'mail/jqBootstrapValidation.min.js' %}"></script>
        <script src="{% static 'mail/contact.js' %}"></script>

        <!-- Template Javascript -->
        <script src="{% static 'js/main.js' %}"></script>
{% endblock %}
