{% extends 'partials/base.html'%}
{% load static %}

{% block css %}

    <style>
        .post-content {font-family: 'Helvetica', 'Arial', sans-serif; font-size: 20px;}
    </style>

{% endblock %}


{% block content %}

    <!-- Blog Detail Start -->
    <div class="container py-5 px-2 bg-white">
        <div class="row px-4">
            <div class="col-12">
                <img class="mb-4" src="{% if post.image %}{{ post.image.url }}{% endif %}" height="500px" width="1050px" alt="Image">
                <h2 class="mb-3 font-weight-bold">{{ post.title }}</h2>
                <div class="d-flex">
                    <p class="mr-3 text-muted"><i class="fa fa-calendar-alt"></i> {{ post.created_at.date }}</p>
                    <p class="mr-3 text-muted"><i class="fa fa-eye"></i> {{ view_count }} görülmə</p>
                </div>
                <p class="post-content" >
                    {{ post.content|safe }}
                </p>
            </div>
            <div class="col-12 py-4">  
                {% for tag in post.tags.all %}
                    <a href="" class="btn btn-sm btn-outline-primary mb-1">{{ tag.name }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Blog Detail End -->
{% endblock %}

{% block js %}
    <!-- Back to Top -->
    <a href="#" class="back-to-top"><i class="fa fa-angle-double-up"></i></a>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
{% endblock %}
