{% extends 'partials/base.html'%}
{% load static %}

{% block content %}

    <!-- Blog Detail Start -->
    <div class="container py-5 px-2 bg-white">
        <div class="row px-4">
            <div class="col-12">
                <img class="mb-4" src="{% if tutorial.photo %}{{ tutorial.photo.url }}{% endif %}" height="500px" width="1050px" alt="Image">
                <h2 class="mb-3 font-weight-bold">{{ tutorial.name }}</h2>
                <div class="d-flex">
                    <p class="mr-3 text-muted"><i class="fa fa-calendar-alt"></i> {{ tutorial.created_at.date }}</p>
                    <p class="mr-3 text-muted"><i class="fa fa-folder"></i> {{ tutorial.lessons.count }} dərs </p>
                </div>
                <p class="post-content" >
                    {{ tutorial.description|safe }}
                </p>
            </div>
            <div class="col-12 py-4">
                <h3>Dərslər</h3>
                <hr>
                {% for lesson in tutorial.lessons.all %}
                    <div>
                        <a href="{% url 'lesson-detail-page' slug=lesson.slug %}" class="btn btn-sm btn-outline-primary mb-1">{{ forloop.counter }} - {{ lesson.title }}</a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Blog Detail End -->
{% endblock %}

{% block js %}
    <!-- Back to Top -->
    <a href="#" class="back-to-top"><i class="fa fa-angle-double-up"></i></a>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
{% endblock %}
